{% extends 'base.html' %}

{% block title %}
New Post Form
{% endblock %}

{% block content %}

<h1 class="p-2">Add Post for {{user.first_name}} {{user.last_name}}</h1>
<form action="/users/{{user.id}}/posts/new" method="POST">
    <input type="text" name="title" placeholder="Title" required>
    <textarea type="text" name="content" placeholder="Content" row="10" required></textarea>
    <div class="add-cancel">
        <a href="/users/{{user.id}}" class="btn btn-info cancelBtn">Cancel</a>
        <button type="submit" class="btn btn-success">Add</button>
    </div> 
</form>

<a href="/">Back to users</a>

{% endblock %}