{% extends 'base.html' %}

{% block title %}
{{user.last_name}}
{% endblock %}

{% block content %}

<h2 class="p-2">Welcome</h2>

<div class="user-details">
    <img src={{user.image_url}} alt={{user.last_name}}>
    <h1>{{user.first_name}} {{user.last_name}}</h1>
    <div class="edit-delete">
        <a href="/users/{{user.id}}/edit" class="btn btn-primary">Edit</a>
        <form action="/users/{{user.id}}/delete" method="POST">
            <button type="submit" class="btn btn-danger">Delete</button>
        </form> 
    </div> 
</div>

<h2 class="p-2">Posts</h2>
<ul class="post-ul">
    {% if posts %}
        {% for post in posts %}
        <li><a href="/posts/{{post.id}}">{{post.title}}</a></li>
        {% endfor %}
    {% else %}
        <li class="p-2">You have'nt posted anything yet.</li>
    {% endif %}
</ul>
<div class="bottom-btns">
    <a href="/users/{{user.id}}/posts/new" class="btn btn-primary add-post">Add Post</a>
    <a href="/">Back to users</a>
</div>

{% endblock %}